body {
    margin: 0;
    padding: 0;
    overflow: hidden;  /* Prevent scrollbars */
    height: 100vh;
}

/*Hide menu button*/
.hide-main-menu{
    display: none;
}

/**********HEADING*************/
.phone-red-shelf{
    display: none;
}

.desktop-red-shelf{
    display: block;
}

/************ INITIATE ***************/
.init{
    display: none;
}

/************  LOADING PAGE (ANIMATED) **************/

/*Loading Back Ground*/
.loading-page-container{
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ffc98c;
    z-index: 100;
}
/*Position Center*/
.loading-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/*Loading animation*/
.loading-text{
    animation: loading_text_animate 1s ease-in-out infinite alternate;
}

@keyframes loading_text_animate {
   from{
    opacity : 1;
   } 
   to{
    opacity: 0;
   }
}

/*********** FONT STYLE **************/

.special-elite-regular {
    font-family: "Special Elite", system-ui;
    
    font-style: normal;
}

/********** CANVAS *************/
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* IMPORTANT - take a note */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* When moving the model */
canvas:active{
    cursor: grabbing;
}

/******** HEADING ************/
.heading-container{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 2%;
}

.the-heading{
    font-weight: 900;
    color: rgb(139, 0, 0);
    position: absolute;
    z-index: 2;
    width: 20%;
    height: fit-content;
    /* border: 1px solid black; */
    user-select: none;
}

/********** TITLE ***********/
.title-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.title-content{
    position: absolute;
    z-index: 2;
    width: 50%;
    height: fit-content;
    border: 1px solid black;
    margin-top: 0%;
    background-color: #ffacac;
    padding: 1%;
    display: flex;
    align-items: center;
}

/********** MAIN MENU ************/
.main-menu-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-menu{
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    border: 1px solid black;
    margin-right: 2%;
    margin-top: 2%;
    background-color: #ffccccab;
    padding: 1%;
}

/************ MAIN MENU OPTIONS *************/
.hide-main-menu{
    display: flex;
    width: 100%;
    border: 1px solid black;
    background-color: #93100b98;
    padding: 2%;
}

.hide-main-menu:hover, .main-menu-option:hover{
    cursor: pointer;
}

.main-menu-option{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
    background-color: #ff938fcc;
    padding: 2%;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

/************ main-menu-drop-box ***************/
.main-menu-drop-box{
    flex-direction: column;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}


/************* main-menu-options-drop-box ********************/
.main-menu-option-drop-box{
    flex-direction: column;
    width: 100%;
    gap: 2%;
}

/*****************  SUB OPTIONS ****************/
.sub-option{
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
    border: 1px solid black;
    background-color: #ff938fcc;
    padding: 2%;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.sub-option:hover{
    cursor:pointer;
}

/* Expand Menu Icon */
.expand-main-menu-container{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.expand-main-menu{
    position: absolute;
    z-index: 3;
    top : 20vh;
    right: 0;
    margin-right: 2%;
    padding: 1%;
}

.expand-menu-icon{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.expand-menu-icon > img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/*************BUTTON*****************/
/* CSS */
.button-24 {
    background: rgb(139, 0, 0);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 10px;
    outline: 0;
    width: 100%;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}
.button-24:active,
.button-24:focus {
    background: rgb(139, 0, 0);
}

/*********FOOTER**************/
.footer-container{
    position:absolute;
    bottom: 0;
    opacity: 0;
    z-index: 99;
    width: 100vw;
    height: 10vh;
    /* border: 1px solid black; */
    margin-right: 0;
    margin-left: 0;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 100%;
}
.item_dash{
    flex: 1;
    aspect-ratio: 1 / 1;   /* square */
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_dash img {
    height: 100%;
    object-fit: contain;
    display: block;
}
.item_dash a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(width < 500px){
    /*Hide menu button*/
    .hide-main-menu{
        display: flex;
    }

    /******* HEADING ******/
    .desktop-red-shelf{
        display : none;
    }

    .bookshelf-icon{
        /* border: 1px solid black; */
        width: 40px;
        height: 40px;
        transform: translate(-25%,0%);
    }
    .phone-red-shelf{
        position: absolute;
        display: block;
        z-index: 100;
        height: 50px;
        width: 50px;
        /* border: 1px solid black; */
        
        /* background-image: url(./Icon/bookstall-or-library-icon-in-red-and-blue-color-vector.png); */
    }

    .phone-red-shelf > img{
        object-fit: contain;
        width: 100%;
        height: 100%;
        transform: scale(1.7);
    }

    /* TITLE */
    .title-content{
        position: absolute;
        z-index: 2;
        width: 70%;
        height: fit-content;
        border: 1px solid black;
        margin-right: 1%;
        margin-top: 1%;
        background-color: #ffacac;
        padding: 1%;
        display: flex;
        align-items: center;
        font-size: large;
    }


    /* CSS */
    .button-24 {
        background: rgb(139, 0, 0);
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        width: 100%;
        min-height: 10px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        transform: scale(0.8);
    }
    .button-24:active,
    .button-24:focus {
        background: rgb(139, 0, 0);
    }


    .book {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        gap: 10px;
        z-index: 99;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
    }

    /********** MAIN MENU ************/
    .main-menu-container{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .main-menu{
        position: absolute;
        z-index: 3;
        width: 150px;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1%;
        border: 1px solid black;
        margin-right: 1%;
        margin-top: 1%;
        background-color: #ffccccab;
        padding: 1%;
    }

    /************ MAIN MENU OPTIONS *************/
    .hide-main-menu{
        display: flex;
        width: 80%;
        border: 1px solid black;
        background-color: #93100b98;
        padding: 2%;
    }

    .hide-main-menu:hover, .main-menu-option:hover{
        cursor: pointer;
    }

    .main-menu-option{
        display: flex;
        justify-content: center;
        width: 80%;
        border: 1px solid black;
        background-color: #ff938fcc;
        padding: 2%;
        color: rgb(0, 0, 0);
        font-weight: 700;
        font-size: smaller;
    }

    /************ main-menu-drop-box ***************/
    .main-menu-drop-box{
        flex-direction: column;
        /* border: 1px solid black; */
        justify-content: center;
        align-items: center;
    }


    /************* main-menu-options-drop-box ********************/
    .main-menu-option-drop-box{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2%;
    }

    /*****************  SUB OPTIONS ****************/
    .sub-option{
        width: 80%;
        height: 100%;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        background-color: #ff938fcc;
        padding: 2%;
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-size: smaller;
    }
    .sub-option:hover{
        cursor:pointer;
    }

    /***********************/
    .expand-main-menu{
        position: absolute;
        z-index: 3;
        top : 10vh;
        right: 0;
        margin-right: 2%;
        padding: 1%;
    }

    /*Percentage Bar*/
    .percentage-bar-container{
        display: flex;
        position: absolute;
        left: 10px;
        top: 20vh;
        bottom: 20vh;
        width: 10px;
        /* border: 1px solid black; */
        z-index: 99;
    }

    .gsap-container{
        display: flex;
        position: absolute;
        left: 10px;
        top: 20vh;
        bottom: 20vh;
        width: 10px;
        /* border: 1px solid black; */
        z-index: 100;
    }
    
}




