body {
    margin: 0;
    padding: 0;
    overflow: hidden;  /* Prevent scrollbars */
    height: 100vh;
}

/*Loading*/
.loading-page-container{
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ffc98c;
    z-index: 200;
}

.loading-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading-text{
    animation: loading_text_animate 1s ease-in-out infinite alternate;
}

@keyframes loading_text_animate {
   from{
    opacity : 1;
   } 
   to{
    opacity: 0;
   }
}

.button-container{
    z-index: 99;
    position: absolute;
}

/* Font Style */
.special-elite-regular {
    font-family: "Special Elite", system-ui;
    
    font-style: normal;
}


/* Make canvas fill entire background */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;      /* Behind content */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas:active{
    cursor: grabbing;
}

/* Content ON TOP of canvas */
.container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.heading-container{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 2%;
}

.the-heading{
    font-weight: 900;
    color: rgb(139, 0, 0);
    position: absolute;
    z-index: 100;
    width: fit-content;
    height: fit-content;
    /* border: 1px solid black; */
    user-select: none;
}

.search-container{
    margin: 1%;
    position:absolute;
    z-index: 99;
    /* border: 1px solid black; */
}

.back-option-container{
    position: absolute;
    z-index: 101;
    right: 5px;
    top: 10px;
    display: none;
    
}

.drop-down-options{
    display: none;
    flex-direction: column;
    /* background: rgb(139, 0, 0); */
    min-width: 130px;
    max-width: 200px;
    padding: 12px 16px;
    gap: 2px;
}

.option{
    padding: 2%;
    margin: 2%;
    background-color: #93100b;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    user-select: none;
}

.option:hover{
    background-color: #cb2e29;
    cursor:pointer;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 10px;
    z-index: 99;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.desktop-red-shelf{
    display : block;
}
.phone-red-shelf{
    display: none;
}

.drop-downs{
    /* border: 1px solid black; */
    
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 100%;
    height: 100%;
}

/*Percentage Bar*/
.percentage-bar-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 20vh;
    bottom: 20vh;
    width: 20px;
    border: 1px solid black;
    z-index: 102;
    background-color: #93100b75;
}

.bookshelf-icon{
    /* border: 1px solid black; */
    width: 40px;
    height: 40px;
    transform: translate(-25%,0%);
}
.bookshelf-icon img {
    object-fit:fill;
    position: relative;
    width: 100%;
    height: 100%;
}
.percentage-bar{
    width: 100%;
    background-color: #ff0000;
}

#searchForm{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: end;
    align-items: center;
}

.search-bar{ 
    max-width: 300px;
    min-width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.refresh-button-container{
    margin-top: 1%;
    margin-right: 1%;
}

form{
    display: flex;
    flex-direction: column;
    align-items:end;
    
}

#fname{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1%;
    background-color: rgb(192, 102, 102);
    color: #ffffff;
    border: 1px soild black;
    border-radius: 2%;
}
input{
    width: 100px;
}
input::placeholder{
    color: white;
    
}

.footer-container{
    position:absolute;
    bottom: 0;
    opacity: 0;
    z-index: 99;
    width: 100vw;
    height: 10vh;
    /* border: 1px solid black; */
    margin-right: 0;
    margin-left: 0;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 100%;
}
.item_dash{
    flex: 1;
    aspect-ratio: 1 / 1;   /* square */
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_dash img {
    height: 100%;
    object-fit: contain;
    display: block;
}
.item_dash a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS */
.button-24 {
    background: rgb(139, 0, 0);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    width: 100px;
    line-height: 16px;
    min-height: 10px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:active,
.button-24:focus {
    background: rgb(139, 0, 0);
}

/*Pop up Placement*/
.pop-up-container{
    position: absolute;
    display: block;
    width: fit-content;
    height: fit-content;
    z-index: 100;
    color: white;
    margin: 0;
    padding: 0;
    user-select: none;
}

#stationary-pop-up,#seminar-pop-up,#reception-pop-up{
    position: absolute;
    border: 1px solid black;
    background-color: rgb(139, 0, 0);
    padding: 10%;
    border-radius: 2px;
    display: none;
}

*{
    margin: 0;
}

@media(width < 500px){
    .desktop-red-shelf{
        display : none;
    }
    .phone-red-shelf{
        position: absolute;
        display: block;
        z-index: 100;
        height: 50px;
        width: 50px;
        /* border: 1px solid black; */
        
        /* background-image: url(./Icon/bookstall-or-library-icon-in-red-and-blue-color-vector.png); */
    }

    .phone-red-shelf > img{
        object-fit: contain;
        width: 100%;
        height: 100%;
        transform: scale(1.7);
    }

    .search-bar{ 
        width: 100px;
        height: 20px;
    }

    /* CSS */
    .button-24 {
        background: rgb(139, 0, 0);
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        width: 100px;
        min-height: 10px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        transform: scale(0.8);
    }
    .button-24:active,
    .button-24:focus {
        background: rgb(139, 0, 0);
    }


    .book {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        gap: 10px;
        z-index: 99;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
    }

    .drop-down-options{
        display: none;
        flex-direction: column;
        /* border: white; */
        /* background: rgb(139, 0, 0); */
        min-width: 130px;
        max-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        gap: 2px;
    }

    .option{
        padding: 2%;
        margin: 2%;
        background-color: #93100b;
        color: white;
        border: 1px solid black;
        border-radius: 2px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: start;
        user-select: none;
    }

    .option:hover{
        background-color: #cb2e29;
        cursor:pointer;
    }

    /*Percentage Bar*/
    .percentage-bar-container{
        display: flex;
        position: absolute;
        left: 10px;
        top: 20vh;
        bottom: 20vh;
        width: 10px;
        border: 1px solid black;
        z-index: 99;
    }
    
}




